<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="demo">
    <div>{{startDate | date:'dd/MMM/yyyy'}}</div>
</div>

<div *ngFor="let pair of course | keyvalue">
    {{pair.key + ':' + pair.value}}
</div>

<button (click)="onCoursesEdited()">Edit Courses</button>

<div class="courses" #container>

    <course-card #cardRef1
        [course]="courses[1]"
        (courseSelected)="onCourseSelected($event)">
    </course-card>
    <course-card
        [course]="courses[2]"
        (courseSelected)="onCourseSelected($event)">
    </course-card>

    <hr>
    <course-card #cards
        *ngFor="let course of courses;index as i;first as isFirst;last as isLast;even as isEven;odd as isOdd"
        [class.is-first]="isFirst"
        [class.is-last]="isLast"
        [class.is-even]="isEven"
        [class.is-odd]="isOdd"
        [course]="course"
        [cardIndex]="i+1"
        (courseSelected)="onCourseSelected($event)">
    </course-card>

</div>


