<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="demo">
    <div>{{startDate | date:'dd/MMM/yyyy'}}</div>
</div>

<div *ngFor="let pair of course | keyvalue">
    {{pair.key + ':' + pair.value}}
</div>

<br><br>

<b>Section 6: Directive</b>
<div [highlighted]="true" (toggleHighlight)="onToggle($event)" class="courses" *ngIf="courses[1] as course">
    <course-card [course]="course" (courseSelected)="onCourseSelected($event)">
        <course-image [src]="course.iconUrl"></course-image>
        <div class="course-description">
            {{course.longDescription}}
        </div>
    </course-card>
</div>

<hr>

<br><br>

<b>Section 4: Angular Content Projection In Depth</b>
<hr>
<div class="courses" *ngIf="courses[2] as course">
    <course-card [course]="course" (courseSelected)="onCourseSelected($event)">
        <course-image [src]="course.iconUrl"></course-image>
        <div class="course-description">
            {{course.longDescription}}
        </div>
    </course-card>
</div>

<hr>

<div class="courses" #container>

    <b>Section 3: Angular Local Template Querying In Depth</b>
    <hr>
    <button (click)="onCoursesEdited()">Edit Courses</button>
    <course-card #cardRef1
        [course]="courses[1]"
        (courseSelected)="onCourseSelected($event)">
    </course-card>
    <course-card
        [course]="courses[2]"
        (courseSelected)="onCourseSelected($event)">
    </course-card>

    <b>Section 2: Angular Components, Core Directives and Pipes</b>
    <hr>
    <course-card #cards
        *ngFor="let course of courses;index as i;first as isFirst;last as isLast;even as isEven;odd as isOdd"
        [class.is-first]="isFirst"
        [class.is-last]="isLast"
        [class.is-even]="isEven"
        [class.is-odd]="isOdd"
        [course]="course"
        [cardIndex]="i+1"
        (courseSelected)="onCourseSelected($event)">
    </course-card>

</div>


